.SidebarChat, .SidebarChat:hover {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 15px 0px 0px 20px;
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid rgb(23 23 23);
}

.SidebarChat > h2 {
  font-size: 19px;
}

.SidebarChatInfo > h2 {
  font-size: 21px;
  margin-bottom: 5px;
}

.SidebarChatInfo > p {
  font-size: 13px;
  margin-bottom: 15px;
}

.SidebarChatInfo {
  margin-left: 15px;
}

.AddNewChat {
  display: flex;
  cursor: pointer;
  width: 96%;
  justify-content: center;
  margin: 10px auto;
  background-color: #01bf71;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 5px;
  align-items: center;
}

.add-icn {
  margin-bottom: 3px;
}