.Welcome {
  background-color: #010606;
  width: 100vw;
  display: grid;
  place-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  flex: 0.65 1;
}

.WelcomeContainer {
  padding: 100px;
  text-align: center;
}

.WelcomeText {
  font-size: 20px;
  color: rgba(82, 82, 82, 0.5);
}