.Button {
  border-radius: 50px;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.Button:hover {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.primary {
  background: #01bf71;
}
.primary:hover {
  background: #fff;
}

.secondary {
  background: #010606;
}
.secondary:hover {
  background: #01bf71;
}

.dark,
.dark:hover {
  color: #010606;
}

.light,
.light:hover {
  color: #fff;
}

.big {
  padding: 14px 48px;
}

.small {
  padding: 12px 30px;
}

.fontBig {
  font-size: 20px;
}

.fontSmall {
  font-size: 16px;
}

.Control-btn {
  border-radius: 50px;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 7px 5px 5px 5px;
  padding: 8px;
  background: transparent;
  color: #fff;
  transition: transform 0.2s;
}
.Control-btn:hover {
  color: #01bf71;
  transform: scale(1.5);
}
@media screen and (max-width: 480px) {
  .Control-btn {
    margin: 10px 0px;
  }
}

.btn-svg {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 480px) {
  .btn-svg {
    height: 20px;
    width: 20px;
  }
}
