.width0 {
  width: 0px !important;
}

.ChatContainer {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  overflow: hidden;
}

.text-heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  justify-content: center;
}

.text-area {
  height: 88vh !important;
  max-height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.text-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px;
  color: #454552;
}

.senders-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  text-align: left;
}

.senders-text > strong {
  margin-left: 3px;
}

.senders-text > p {
  max-width: 65%;
  overflow-x: auto;
  width: auto;
  padding: 9px;
  font-size: 14px;
  background: #fff;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  box-shadow: 0 0 2rem rgba(black, 0.075), 0rem 1rem 1rem -1rem rgba(black, 0.1);
}

.users-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-size: 16px;
  text-align: right;
}

.users-text > strong {
  margin-right: 5px;
}

.users-text > p {
  overflow-x: auto;
  max-width: 65%;
  width: auto;
  padding: 9px;
  font-size: 14px;
  text-align: left;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}

.bottom-input {
  bottom: 0;
  width: 100%;
  height: 8%;
  padding: 13px;
  border-radius: 35px;
  margin: 0px 10px;
  text-align: center;
}