.ControlBar {
  height: 8%;
  overflow: hidden;
  min-width: 50vw;
  position: absolute;
  margin-top: 88vh;
}

.NavBottom {
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}
@media screen and (max-width: 480px) {
  .NavBottom {
    margin-left: 1%;
    margin-right: 1%;
  }
}

.End-Meeting {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: Red;
  padding: 7px;
  border-radius: 50px;
  margin: 0px 10px;
  color: #fff;
  transition: transform 0.2s;
}
.End-Meeting:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 480px) {
  .End-Meeting {
    font-size: 15px;
    margin: 15px 0px;
    margin-right: 5px;
  }
}
