.SidebarContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.opacity100 {
  opacity: 100%;
}
.opacity0 {
  opacity: 0;
}
.top0 {
  top: 0;
}
.topm100 {
  top: -100%;
}

.CloseIcon {
  color: #fff;
}

.Icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.SidebarWrapper {
  color: #fff;
}

.SidebarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}
@media screen and (max-width: 480px) {
  .SidebarMenu {
    grid-template-rows: repeat(6, 60px);
  }
}

.SidebarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.SidebarLink:hover {
  color: #01bf71;
  transition: 0.2s ease-in-out;
}

.SideBtnWrap {
  display: flex;
  justify-content: center;
}

.SidebarRoute {
  background: #01bf71;
  color: #010606;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  padding: 16px 64px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.SidebarRoute:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
